################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
mkldnn.dll
mklml.dll
opencv_world470.dll
opencv_world470d.dll
/OCRCoreService/bin/Debug
/OCRCoreService/bin/Release
/OCRCoreService/bin
/OCRCoreService/obj/Debug
/OCRCoreService/obj/Release
/OCRCoreService/obj
/PaddleOCRCore/bin/Debug
/PaddleOCRCore/bin/Release
/PaddleOCRCore/bin
/PaddleOCRCore/obj/Debug
/PaddleOCRCore/obj/Release
/PaddleOCRCore/obj
/WinFormsApp/bin/Debug
/WinFormsApp/bin/Release
/WinFormsApp/bin
/WinFormsApp/obj/Debug
/WinFormsApp/obj/Release
/WinFormsApp/obj