@{
    ViewData["Title"] = "WebAPI接口";
}
<body style="margin:0;">
    <div class="port">
        <img src="~/Images/port.png" style="position: absolute;display: block;top: 50%;left:50%;margin-left:-375px;margin-top:-200px;">
    </div>
</body>
